<table>
    <tr>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "ResourcesSortTypeLabel";
                    settings.Width = System.Web.UI.WebControls.Unit.Pixel(150);
                    settings.Text = "Resources Sort Type: ";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                    settings.Name = "ResourcesSortType";
                    settings.Width = System.Web.UI.WebControls.Unit.Pixel(300);
                    settings.Properties.TextField = "Type";
                    settings.Properties.ValueField = "ID";
                    settings.Properties.ValueType = typeof(Int32);
                    settings.SelectedIndex = 0;
                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s, e) { scheduler.PerformCallback(); }";
                }).BindList(ResourcesSortingHelper.GetItems()).GetHtml()
        </td>
    </tr>
</table>



